/*
Created for a game where the user uses the arrow keys to direct pie-man arount the browser window to collect pellets.
Tested on Internet Explorer, Acer Laptop
Last Modified November 1, 2017*/

html {
    background-color: dimgrey;
}
.sidenav {
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
h2 {position: fixed;}
#consoleLog {
    position: absolute; 
    width: 70vw;
    height: 50vh;
    left: 2px;
    bottom: 2px;
    background-color: black;
    font-family: 'Courier New';
    color: green;
    font-size: 20px;
}
#submitButton {
    position: absolute; 
    right: 29.5vw;
    bottom: 2px;
    background-color: black;
    font-family: 'Courier New';
    color: green;
    font-size: 20px;
}

#navButton {
    position: absolute; 
    right: 20vw;
    top: 2px;
    background-color: black;
    font-family: 'Courier New';
    color: gray;
    font-size: 20px;
}
h3 {position: fixed; left: 25%; top: 90%}
